CODE_SIGN_IDENTITY = $(CODE_SIGN_IDENTITY_$(CONFIGURATION))
CODE_SIGN_IDENTITY_Debug = iPhone Developer
CODE_SIGN_IDENTITY_Release = iPhone Distribution

PROVISIONING_PROFILE = $(PROVISIONING_PROFILE_$(CONFIGURATION))
PROVISIONING_PROFILE_Debug = 4b765db2-4678-4710-adb7-57529f12be9f
PROVISIONING_PROFILE_Release = 0d6bb5ba-2400-4c59-ae7e-6d486ebb297c